.img-thumbnail{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 3px solid rgb(32, 128, 206);
}
.card{
    border: #b4cdd9 2px solid;
    
    
}
.card-img-top{
    padding: 0 10px 0 10px;
}
.card-header{
    background-color: white;
    border: none;
    
}
.container-fluid{
    background: rgb(248,247,255);
background: radial-gradient(circle, rgba(248,247,255,1) 0%, rgba(9,99,121,1) 46%, rgba(111,138,172,1) 72%, rgba(0,212,255,1) 100%);
}